<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241002010822-37usbcafkspr1g3fuhd0aq4dgkju0ls6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241002010822-37usbcafkspr1g3fuhd0aq4dgkju0ls6</string>
	<key>API_KEY</key>
	<string>AIzaSyBqXxuOJkZV7IP_sjvqkvIg65XQl-AEDc0</string>
	<key>GCM_SENDER_ID</key>
	<string>241002010822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.xano.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-302ed</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-302ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241002010822:ios:644a834e6bb409545d5fc7</string>
</dict>
</plist>